@import './../../themes.css';

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--background);
}

.question-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 20px;
    padding: 10px 12px;
    width: 10cm;
    max-width: 100%;
}

.question {
    padding: 10px;
    font-size: large;
}

.label-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.send_button {
    height: 60px;
    width: 4cm;
    margin: 15px 15px;
    padding: 100px 100p;
    background-color: var(--foreground);
    color: var(--background);
    font-size: large;
}