.comparison {
    width: 100%;
    max-width: 1000px;
    height: 70vw;
    max-height: ;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 10vw;

    .circle {
        position: absolute;

        width: 50%;
        aspect-ratio: 1/1;

        border-radius: 50%;
        border: 5px;
        border-style: solid;

        border-color: var(--primary);
    }

    .first {
        right: 10vw;




    
    }

    .second {
        left: 10vw;
        
    
    }
}

