.timeline-section {
	width: 50%;
	max-height: 400px;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 5px;
	overflow: auto;
}