.top-section {
    width: 100%;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;

}


@media only screen and (max-width: 768px) {
    /*For mobile phones:*/

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin: 20px;

    }
}