.ref-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: var(--foreground);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--background);
    align-items: center;
    text-align: center;
}

.ref-header {
    text-align: center;
    margin: 0px;
    margin-top: 10px;
}

.ref-text {
    margin-bottom: 10px;
    list-style-type: none;
    flex-direction: row;
}
.href {
    margin-left: 10px;
}