.content {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;

    .header {
        font-size: xx-large;
        margin-bottom: 20px;
    }
}

.topics {
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 150px;

    .topic {
        display: flex;
        align-items: center;
        gap: 80px;

        &:nth-child(2n+1){
            flex-direction: row-reverse;
        }

        .img {
            flex: 2;
            position: relative;
            margin: 0;

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--primary);
                position: absolute;
                top: 20px;
                left: -20px;
                z-index: -1;
            }

            img {
                width: 100%;
                height: auto;
                max-height: 100px;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    /*For mobile phones:*/

.content {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .header {
        font-size: xx-large;
        margin-bottom: 50px;
    }
}
  
.topics {
    margin: 0;
    margin-top: 50px;
    gap: 50px;
    .topic {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &:nth-child(2n+1){
            flex-direction: column;
        }

        .img {
            position: relative;
            width: 50%;
            min-height: 100px;
            min-width: 100px;

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--primary);
                position: absolute;
                top: 10px;
                left: -10px;
                z-index: -1;
            }

            img {
                width: 100%;
                max-height: 400px;
                position: absolute;
                top: -10px;
                left: 10px;
                object-fit: cover;
                
            }
        }
    }
}

}