@import './../../themes.css';

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    background-color: var(--foreground);
    color: var(--background);
    /*box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);*/
}

.navi-logo {
  height: 60px;
  width: 60px;
  margin: 15px;
}

.menu-icon {
  visibility: hidden;
}

.nav-icon {
  color: var(--background);
  size: large;
  margin: 15px;
}

.nav_button {
  height: 60px;
  width: auto;
  margin: 30px;
  border: 0;
  background-color: var(--foreground);
  color: var(--background);
  font-size: large;
}

@media only screen and (max-width: 768px) {
  /*For mobile phones:*/

  .navigation {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    background-color: var(--foreground);
    color: var(--background);
    /*box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);*/
}

.nav_button {
  visibility: hidden;
}

.menu-icon {
  visibility: visible;

}

}