.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 50px;
    gap: 20px;
    text-align: center;

    .intro-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding-bottom: 20px;

        border-bottom: 5px;
        border-bottom-color: var(--primary);
        border-bottom-style: solid;

        .keywords {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
 
    }

    .content-element {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .summary-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;

        border: 5px;
        border-style: solid;
        border-color: var(--primary);
    }
}